<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>News Aggregator</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap CDN -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <h1>A la une <small>Date: {{ date }}</small></h1>

        <form method="post" action="{{path('homepage')}}">
            {{ form_rest(form) }}
          <input type="submit" value="Submit">
        </form>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h2>Express</h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h2>Defi Media</h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h2>Le Mauricien</h2>
          </div>
        </div>

        {% for i in 0..9 %}
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <h2>Express</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <a href="{{defiMedias[i].link}}" target="_blank">
                <p>{{i+1}}. {{ defiMedias[i].title }}</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <a href="{{mauriciens[i].link}}" target="_blank">
                <p>{{i+1}}. {{ mauriciens[i].title }}</p>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </body>
</html>
